.gears{
    display: flex;
    flex-direction: column;
    width: 8rem;
    gap: .1rem;
    position: absolute;
    bottom: 6rem;
    left: 12rem;
}

.gears .img-one{
    width: 7rem;
    align-self: self-end;
    animation: rotate_gears 6s infinite linear;
}

.gears .img-two{
    width: 4rem;
    align-self: self-start;
    animation: rotate_gears 4s infinite linear;
}

.gears .img-three{
    width: 2rem;
    align-self: center;
    animation: rotate_gears 2s infinite linear;
}

@keyframes rotate_gears {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}