.astronauta{
    display: flex;
    flex-direction: column;
    width: 8rem;
    gap: .1rem;
    position: absolute;
    top: 5rem;
    right: 12rem;
    transform: rotate(25deg);
    animation: astro 2s infinite linear alternate;
}

@keyframes astro {
    from {
        transform: translateY(0rem) rotate(0deg);
    }

    to {
        transform: translateY(2rem) rotate(20deg);
    }
    
}